<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cop</title>
    <link rel="stylesheet" href="/styles/header.css">

</head>
<body>
    <div class="footer">
      <h4>All rights reserved | Developed by Hamza Ali | CopCompanion &#169; </h4>
    </div>
</body>
</html>