<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cop</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    <div class="containerHeader">
  <div class="submenu">
      <div class="leftSubMenu">
          NON-EMERGENCY DISPATCH <a href="#">(123) 456-7890</a>
      </div>
      <div class="rightSubMenu">
          FOR EMERGENCIES <a href="#">CALL 009</a>
      </div>
  </div>
  <div class="menu">
      <div class="logo">
          <div class="imglogo">
              <img src="images/logo.png" alt="">
          </div>
          <!-- <div class="txtlogo">
              <p style="letter-spacing: 2.5px;">NY POLICE</p>
              <p style="color: red;">DEPARTMENT</p>
          </div> -->
      </div>
      <div class="navbar">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
          <li>
            <a href="/complain">Complain</a>
          </li>
          <li>
            <a href="/location">Location</a>
          </li>
        </ul>
      </div>
      <div class="btndiv">
        <button class="btn"><a href="/login">Login</a></button>
      </div>
  </div>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=03182990955&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
</body>
</html>

