<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cop</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
  <div class="containerHeader">
    <div class="submenu">
        <div class="leftSubMenu">
            NON-EMERGENCY DISPATCH <a href="#">(123) 456-7890</a>
        </div>
        <div class="rightSubMenu">
            FOR EMERGENCIES <a href="#">CALL 911</a>
        </div>
    </div>
    <div class="menu">
        <div class="logo">
            <div class="imglogo">
                <img src="images/logo.png" alt="">
            </div>
            <div class="txtlogo">
                <p style="letter-spacing: 2.5px;">NY POLICE</p>
                <p style="color: red;">DEPARTMENT</p>
            </div>
        </div>
        <div class="navbar">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/complain">Complain</a>
            </li>
            <li>
              <a href="/location">Location</a>
            </li>
          </ul>
        </div>
        <div class="btndiv">
          <button class="btn"><a href="/login">Login</a></button>
        </div>
    </div>
  </div>
</body>
</html>

