<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutt Us</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">  
    <link rel="manifest" href="favicon/site.webmanifest">
    <style>
        .heroSec{
            width: 100%;
            /* background-color: blanchedalmond; */
            display: flex;
            gap: 20px;
        }
        .heroSecLeft {
            width: 30vw;
            /* background-color: aqua; */
            display: flex;
            background-color: rgba(128, 128, 128, 0.096);
            padding: 10px 20px 10px 20px;
            text-align: justify ;
            margin-top: 0px;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 10px;
        }
        .heroSecLeft h1{
            margin-bottom: 0px;
        }
        .heroSecRight {
            width: 60vw;
            background-color: rgba(128, 128, 128, 0.096);
            padding: 10px 20px 10px 20px;
            text-align: justify ;
            margin-top: 0px;
            border-radius: 10px;
            
        }
    </style>

</head>

<body>
    <%- include('partials/header.ejs') %>
        <h1>About us</h1>
        <div class="heroSec">
            <div class="heroSecLeft">
                <h1>Support Us to clean <br>this City</h1>
                <p>Contact us: +412332</p>
            </div>
            <div class="heroSecRight">
                <p>
                    Our platform offers a wide array of features designed to empower law enforcement agencies, officers,
                    and administrators. From crime mapping and incident reporting to personnel management and resource
                    allocation, PIMS provides a centralized hub for accessing critical information and coordinating
                    operational activities seamlessly.

                    With user-friendly interfaces and robust security measures, PIMS ensures that sensitive data is
                    protected while enabling swift access for authorized personnel. Whether it's tracking criminal
                    activity trends, managing case files, or facilitating collaboration between departments, our
                    platform is tailored to meet the diverse needs of modern law enforcement.

                    Join us in revolutionizing law enforcement practices with PIMS – where innovation meets integrity to build safer communities for all. Explore our website to learn more about how PIMS can empower your agency and enhance public safety efforts.

                </p>
            </div>
        </div>

    <%- include('partials/footer.ejs') %>

</body>

</html>