<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/styles/main.css">
    
</head>
<body>
    <%- include('partials/header.ejs') %>
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione possimus sed repudiandae animi ut autem porro, at hic qui commodi dolor doloribus est pariatur voluptate, facere consequatur ipsam necessitatibus atque labore placeat. Iure iusto quod perferendis iste? Recusandae, laudantium provident repellendus labore eum odio perferendis distinctio ratione repellat ab, ex obcaecati? Inventore qui maiores commodi excepturi! Ducimus, quisquam ullam explicabo illum quo magni dolores ut sapiente ipsa fuga, quia architecto quis odit delectus earum, mollitia hic saepe velit nostrum possimus repellat animi cum expedita. Veritatis inventore repellat aspernatur rem aliquam consectetur consequuntur accusantium quaerat deserunt, fuga qui suscipit? Assumenda voluptatem repellendus minima expedita, magni vel, voluptate eius debitis odit et ducimus. Facere, quae veniam quam assumenda odio provident architecto, nam, tempora consequuntur id nostrum commodi quibusdam quaerat temporibus eligendi dicta fugit! Exercitationem, facere. Cupiditate omnis laboriosam minima quae, aliquam, quasi, aliquid atque impedit sapiente eveniet consequatur voluptatem blanditiis ut culpa quidem error? Nobis provident voluptate ullam odit iusto adipisci optio qui a, perspiciatis corporis? Cupiditate maiores suscipit voluptates esse, aliquam autem temporibus quibusdam placeat iste deserunt cum excepturi nisi quis, optio eaque a inventore nulla eius nobis! Error beatae quasi odio. Vel perspiciatis modi, dolorem eum repudiandae ipsam cupiditate rem quo libero, praesentium tenetur iste enim itaque in ex veniam nostrum voluptatibus earum at neque atque tempore dolor ipsa! Aut ullam aspernatur voluptatibus blanditiis qui officiis sequi quo dolorem possimus, voluptas accusantium harum ipsa eligendi veritatis quibusdam odit non ducimus impedit fuga aliquam consequuntur quae et dignissimos? Dolorum, dolore quam?</p>
        
</body>
</html>