<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">  
    <link rel="manifest" href="favicon/site.webmanifest">
    <title>Admin</title>
   
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="mainHeadTxt">
        <h1 id="panelName">Admin Panel</h1>
        <p id="welcomeTag">Welcome Back <span><%= name.charAt(0).toUpperCase() + name.slice(1) %></span>! <br>
        <%= rank %></p>
        
        </div>
        <div class="hero">
            <div class="card">
                <p>Total On DutyOfficers</p>
                <h1 id="officerCount">
                    505
                </h1>

            </div>

            <div class="card">
                <p>Total Departments</p>
                <h1 id="departCount">
                    53
                </h1>

            </div>

            <div class="card">
                <p>Total Criminal Records</p>
                <h1 id="recordCount">
                    2344
                </h1>

            </div>

            <div class="card">
                <p>Total Cases</p>
                <h1 id="casesCount">
                    1003
                </h1>

            </div>
            
        </div>
        <div class="heroBody">
             <!-- You can add more records of <strong>Cases</strong> , <strong>Criminals</strong> ,
             <strong>Departments</strong> and <strong>officers</strong> -->
             <div class="txt">
             <span style="color: red;">Note :</span> If you want to see all details of on duty officers just type <strong>Officers</strong> on <strong>Information window</strong><br>
                <li style="padding: 0px; list-style-type: circle;">
                    <ol>Type <strong>Departments</strong> To View details for Departments</ol>
                    <ol>Type <strong>Records</strong> To View details for criminal records</ol>
                    <ol>Type <strong>Cases</strong> To View Cases</ol>
                </li>
            </div>
             <div class="container">
                <div class="horizontal-container">
                  <h3 class="sitetitle">
                    Information Window
                  </h3>
            
                </div>
                </h1> 

                <div class="answer-container" >
                  <input type="text" name="search" id="userInput" placeholder="Type To Search" autocomplete="off" >
            
                </div>

                <button onclick="myFunction()" id="viewbtn">View
                </button>
            
            </div>

        </div>
        <div>
            <li id="searchitem">

            </li>
            <button class="printBtn" onclick="printing()">PRINT</button>
        </div>
        <%- include('partials/footer.ejs') %>
        <script src="backend.js"></script>
        <script>
            function printing(){
                let ppp = document.getElementById("searchitem").innerHTML
                var myWindow = window.open('','','left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0')
                myWindow.document.write(ppp)
                myWindow.print();
                myWindow.document.close();
                myWindow.focus();
                myWindow.print();
}
        </script>
</body>

</html>