<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Admin</title>
    <style>
        body {
            color: antiquewhite;

        }

        h1:hover {
            color: red;
            transition: all 500ms;
            cursor: pointer;
        }

        .hero {
            display: flex;
            padding: 20px;
            justify-content: space-around;
            /* height: 40vh; */
        }

        .card {
            display: flex;
            flex-direction: column;
            background-color: rgba(128, 128, 128, 0.26);
            width: 15vw;
            border-radius: 10px;
            justify-content: center;
            align-items: center;
            padding: 8px;
        }

        .card h1 {
            margin: 0;
        }

        h4 {
            text-align: center;
        }
        li ol{
            margin: 2px;
            padding: 0;
        }
        .container{
            background-color: rgba(128, 128, 128, 0.103);
        }
        input{
            background-color: transparent;
        }
        .sitetitle{
            color: white    ;
        }
        .heroBody{
            text-align: center;
        }
        button{
            margin-top: 20px;
        }
        input{
            color: white    ;
        }
    </style>

</head>

<body>
    <%- include('partials/header.ejs') %>
        <h1>Welcome To admin panel</h1>
        <div class="hero">
            <div class="card">
                <p>Total On DutyOfficers</p>
                <h1 id="officerCount">
                    505
                </h1>

            </div>

            <div class="card">
                <p>Total Departments</p>
                <h1 id="departCount">
                    53
                </h1>

            </div>

            <div class="card">
                <p>Total Criminal Records</p>
                <h1 id="recordCount">
                    2344
                </h1>

            </div>

            <div class="card">
                <p>Total Cases</p>
                <h1 id="casesCount">
                    1003
                </h1>

            </div>
            
        </div>
        <div class="heroBody">
             <!-- You can add more records of <strong>Cases</strong> , <strong>Criminals</strong> ,
             <strong>Departments</strong> and <strong>officers</strong> -->
             <div class="txt">
             <span style="color: red;">Note :</span> If you want to see all details of on duty officers just type <strong>Officers</strong> on <strong>Information window</strong><br>
                <li style="padding: 0px; list-style-type: circle;">
                    <ol>Type <strong>Departments</strong> To View details for Departments</ol>
                    <ol>Type <strong>Records</strong> To View details for criminal records</ol>
                    <ol>Type <strong>Cases</strong> To View Cases</ol>
                </li>
            </div>
             <div class="container">
                <div class="horizontal-container">
                  <h3 class="sitetitle">
                    Information Window
                  </h3>
            
                </div>
                </h1> 

                <div class="answer-container" >
                  <input type="text" name="search" id="userInput" placeholder="Type To Search" autocomplete="off" value="user">
            
                </div>

                <button onclick="myFunction()" id="viewbtn">View
                </button>
            
            </div>

        </div>
        <div class="searchitem">
            
        </div>
        <!-- <%- include('partials/footer.ejs') %> -->
        <script>
            async function main(){
                let totalCaseRaw = await fetch("/case",{method:"POST"})
                let totalCase = await totalCaseRaw.json()
                document.getElementById("casesCount").innerHTML = totalCase.length 
                let totalOfficerRaw = await fetch("/officer",{method:"POST"})
                let totalOfficer = await totalOfficerRaw.json()
                document.getElementById("officerCount").innerHTML = totalOfficer.length
                let totalDepartmentRaw = await fetch("/department",{method:"POST"})
                let totalDepartment = await totalDepartmentRaw.json()
                document.getElementById("departCount").innerHTML = totalDepartment.length
                let totalRecordRaw = await fetch("/record",{method:"POST"})
                let totalRecord = await totalRecordRaw.json()
                document.getElementById("recordCount").innerHTML = totalRecord.length

                document.getElementById("viewbtn").addEventListener("click",myFunction)
                function myFunction(){
                    let searchview = document.getElementById("userInput").value;
                    
                    if(searchview.toLowerCase() == "officers"){
                        totalOfficer.forEach(element => {
                            for (const key in element) {
                                document.getElementById("searchitem").innerText += element[key]
                            }
                            // console.log(element)
                        });
                        
                    }
                }
                
            }
            main()
        </script>
</body>

</html>