<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Hr Panel</title>
    <style>
        .hero{
            background-color: rgba(128, 128, 128, 0.096);
            width: 90vw;
            padding: 18px 26px 18px 26px;
            text-align: justify;
            margin: 0 auto;
            border: 2px solid red;
            border-radius: 10px;
        }
        .allBtns{
            height: 50vh;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-around;
        }
        .utilitybtn{
            font-weight: 600;
            width: 20vw;
            background-color:rgba(128, 128, 128, 0.096);
            color: red;
            
        }
        .utilitybtn:hover{
            background-color: rgba(128, 128, 128, 0.192);
            box-shadow: 2px -3px 6px red;
        }
        .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  transition: all 500ms;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 500ms;
  border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 500ms;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd; transition: all 500ms;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; transition: all 500ms;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;transition: all 500ms;}
.container{
    height: 100vh;

}
    </style>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="mainHeadTxt">
        <h1 id="panelName">Hiring Panel</h1>
        <p id="welcomeTag">Welcome Back <span><%= name.charAt(0).toUpperCase() + name.slice(1) %></span>! <br>
        HR ID: <%= rank %></p>
        
        </div>
        
        <div class="heroBody">
            <div class="hero">
                <p>
                    Welcome to Hr Panel you can just <strong>add</strong> <strong>Delete</strong> <strong>Update</strong> Officers, Criminal Records, Number of Departments in this state and Number of ongoing Cases! 
                </p>
                </div>
                <div class="allBtns">
                    <div class="dropdown">
                        <button class="utilitybtn" onclick="">Add</button>
                        <div class="dropdown-content">
                            <button class="utilitybtn" onclick="addOfficer()">Officers</button>
                            <button class="utilitybtn" onclick="">Criminal Records</button>
                            <button class="utilitybtn" onclick="">Cases</button>
                            <button class="utilitybtn" onclick="">Departments</button>
                        </div>
                      </div>
                
                <div class="dropdown">
                        <button class="utilitybtn" onclick="">Delete</button>
                        <div class="dropdown-content">
                            <button class="utilitybtn" onclick="addOfficer()">Officers</button>
                            <button class="utilitybtn" onclick="">Criminal Records</button>
                            <button class="utilitybtn" onclick="">Cases</button>
                            <button class="utilitybtn" onclick="">Departments</button>
                        </div>
                      </div>
                      <div class="dropdown">
                        <button class="utilitybtn" onclick="">Update</button>
                        <div class="dropdown-content">
                            <button class="utilitybtn" onclick="addOfficer()">Officers</button>
                            <button class="utilitybtn" onclick="">Criminal Records</button>
                            <button class="utilitybtn" onclick="">Cases</button>
                            <button class="utilitybtn" onclick="">Departments</button>
                        </div>
                      </div>
                </div>
            <h1 style="padding-top: 20px;">CopCompanion Window</h1>
            <div id="formWindow">
            </div>
        </div>
        <div>
            

        </div>
        <!-- <%- include('partials/footer.ejs') %> -->
        <script src="hiring_backend.js" ></script>
        <script src="connectionDb.js"></script>
</body>

</html>