<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CopCompanion</title>
  <link rel="stylesheet" href="/styles/main.css">
  <style>
    .upperhead {
      text-align: center;
      font-size: 16px;
    }

    h1 {
      font-size: 32px;
      color: #1F51FF	;
    }
    p{
      text-align: center;
    }
  </style>
</head>

<body id="app">
  <%- include('partials/header.ejs') %>
    <div class="upperhead">
      <h1>Welcome to Police Management <br>System</h1>
      <h3>We would love to help our people</h3>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ab dolor repellat accusamus optio beatae, itaque vel doloribus animi amet cum quisquam soluta omnis nostrum culpa veniam quod est in repudiandae consectetur ducimus. Deleniti, esse quasi quos repellat accusantium, adipisci blanditiis eaque, iusto hic exercitationem placeat eius necessitatibus magnam voluptatum corrupti! Repellendus maxime, nostrum placeat voluptatibus magnam earum nulla praesentium eos totam obcaecati voluptates ipsam magni, officia, numquam repudiandae? Quos temporibus repellendus dolor, illum quisquam, a deleniti id amet similique error accusamus delectus placeat neque recusandae beatae minus sapiente repudiandae fugit, voluptatibus voluptates sit perspiciatis illo vel ut. Doloribus eum aliquam perferendis consequatur officia veniam, tempore nostrum eligendi voluptas velit cumque in, iusto doloremque sunt dolores? Sit tempore, aliquam voluptatem excepturi dicta officiis placeat in ex quo laborum nemo commodi nisi veniam impedit quam ipsum, recusandae fuga similique molestias nobis possimus sapiente magni facilis nam. Distinctio odit accusamus provident eum id commodi totam, dolores eaque consectetur illum ipsa neque illo ut soluta pariatur. Dolorem reprehenderit quidem repellendus obcaecati eum, impedit fugiat tempora cupiditate a doloremque tempore quasi culpa. Assumenda, rem?
    </p>

    <script>


    </script>
</body>

</html>