<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">  
    <link rel="manifest" href="favicon/site.webmanifest">
    <style>
      form > button{
        background: linear-gradient(to right, #E85D2A 0%,tomato 100%); 
      }
      body{
        background: linear-gradient(to right, #de9d48 0%,#ff711f 100%); 
      }
    </style>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <form class="container" action="/submit" method="post">
        <div class="horizontal-container">
          <h3 class="sitetitle">
            Muhaafiz
          </h3>
    
        </div>
        </h1> 
        <div class="answer-container" >
          <input type="text" name="usName" id="userInput" placeholder="username" autofocus autocomplete="off">
    
        </div>
        <div class="answer-container">
          <input type="password" name="answer" id="userInput" placeholder="Password" autofocus autocomplete="off">
    
        </div>
        <button type="submit">LOGIN / لاگ ان کریں
        </button>
    
      </form>
      <%- include('partials/footer.ejs') %>
</body>
</html>