<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CopCompanion</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/index.css">
  <style>
     .police {
    background: url(images/car.png) top center no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 400px;
    padding-left: 120px;
    padding-top: 7.5px;
  }
  .containercard{
    background-color: aqua;
    display: flex;
    height: 300px;
  }
  .leftContainerCard{
    width: 50vw;
  }
  .rightContainerCard{
    width: 50vw;
  }
  </style>
</head>

<body id="app">
  <%- include('partials/header.ejs') %>
    <!-- <div class="upperhead">
      <div class="leftMain">
        <div class="txt">
          <p>
            Welcome to the <strong>CopCompanion</strong> Police Information system , your one-stop solution for efficient
            law enforcement operationsand streamlined information management. At PIMS, we are dedicated to enhancing public
            safety and promoting community well-being through cutting-edge technology and comprehensive data management.
          </p>
        </div>
      </div>
      <div class="rightMain">
        <div class="police">
          <div class="tab">
            <div class="cap-3"></div>
            <div class="cap-2"></div>
            <div class="cap-1"></div>
          </div>
        </div>
      </div>
       <h1>Welcome to Police Information <br>System</h1> -->
      <!-- <h3>We would love to help our people</h3> -->
    <!-- </div> --> 

    <div class="containercard">
      <div class="leftContainerCard">
        <ol>
          name of department: sdsdsd<br>
          name of department: sdsdsd<br>
          name of department: sdsdsd<br>
          name of department: sdsdsd<br>
          
        </ol>
      </div>
      <div class="rightContainerCard">
        <img src="images/6.png" alt="error" width="100%" height="100%">
      </div>
    </div>
    
    <%- include('partials/footer.ejs') %>
      <script>


      </script>
</body>

</html>