body {
    color: black;
    font-size: 18px;

}

h1:hover {
    color: red;
    transition: all 500ms;
    cursor: pointer;
}

.hero {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    /* height: 40vh; */
}

.card {
    display: flex;
    flex-direction: column;
    background-color:#F7F7F7;
    color: tomato;
    width: 20vw;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 28px;
    box-shadow: -4px 8px 20px 0px #0000001A;
}

.card h1 {
    margin: 0;
}

h4 {
    text-align: center;
}
li ol{
    margin: 2px;
    padding: 0;
}
.container{
    background-color:#F7F7F7;
    box-shadow: -4px 8px 20px 0px #0000001A;
}
input{
    background-color: transparent;
}
.sitetitle{
    color: rgba(0, 0, 0, 0.63)    ;
}
.heroBody{
    text-align: center;
}
button{
    margin-top: 20px;
}
input{
    color: tomato ;
}
#searchitem{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ofcards{
    text-align:center;
    padding: 20px;
    width: 25vw;
    color: black;
    background-color: #F7F7F7;
    border-radius: 20px;
    cursor: pointer;
    transition: all 500ms;
    padding: 30px;
}
.ofcardsLink{
    text-decoration: none;
}
.ofcards:hover{
    background-color: #F7F7F7;
    box-shadow: -4px 8px 12px 0px tomato;
    transition: all 500ms;
}
strong{
    color: tomato;
}
#welcomeTag{
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
    width: 40vw;
}
span{
    color: red;
}
#panelName{
    margin: 0px 0px;
    width: 50vw;
    text-align: left;
    padding-left: 20px;
    color: red;
    animation-name: colorchange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}
@keyframes colorchange{
    0%{color: red;}
    25%{color: red;}
    50%{color: red;}
    75%{color: blue;}
}
.txt{
    padding: 22px;
}
.mainHeadTxt{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}