@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: nooriurdu;
  src: url("urdu.ttf");
}
body {
    font-family: "PT Sans", sans-serif
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.submenu {
    display: flex;
    background-color: rgb(12, 12, 12);
    height: 60px;
    justify-content: space-between;
    align-items: center;
    color: #E85D2A;
    font-size: 14px;
    font-weight: 800;
}

.leftSubMenu {
    width: 70vw;
    text-align: right;
}

.rightSubMenu {
    width: 25vw;
}

.submenu a {
    color: white;
    text-decoration: none;
}
.navbar p{
    margin: 0;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
}
.navbar ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 60px;
}
.navbar ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 550;
}
.navbar{
    width: 60vw;
}
.btn{
    width: 20vw;
}
.btncontact{
    padding: 20px 50px;
    background-color: transparent;
    border: 1px saolid black;
    transition: all 300ms;
}
.btncontact:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 300ms;
}
  .menu ul{
    display: flex;
    list-style: none;
    gap: 80px;
    align-items: center;
    justify-content:center;
    padding: 0;
    
    /* justify-content: space-between; */
  }
  .menu ul li a{
    text-decoration: none;
    color: black;
    transition: all 500ms;
  }
  .menu ul li a:hover{
    /* color: #1F51FF; */
    /* color: #00c4ffe0; */
    transition: all 500ms;
    /* font-size: 19px; */
    /* text-shadow: 2px -4px 12px red; */
    color: #E85D2A;
  }
  .logo{
    /* opacity: 0%; */
    transition: all 500ms;
    text-align: center;
    display: flex;
    width: 20vw;
    text-align: right;
    font-size: 22px;
    padding-left: 80px;
    gap: 20px;
    /* animation: rise 2s ease-in 1s 1 forwards alternate; */
  }
  .logo:hover{
    /* color: #1F51FF; */
    /* color: #00c4ffe0; */
    transition: all 500ms;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 2px -4px 12px red;
  }
  .btndiv{
    width: 20vw;
  }
  .btndiv button{
    border-radius: 16px;
  }
  .btndiv a{
    text-decoration: none;
    color: #fff;
    font-size: large;
  }
  .footer{
    margin-top: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  #coplogo{
    width: 100px;
    height: 100px;
  }

  @keyframes rise{
    from{opacity: 0%;}
    to{opacity: 100%;}
  }
  iframe{
    display:none;
  }
  /* .txtlogo{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-float{
    margin-top:16px;
  }