body{
    color: white;
    /* background-color: rgba(128, 128, 128, 0.096); */
  }
  .header{
    display: flex;
    justify-content: center;
   padding: 12px; 
   align-items: center;
   font-size: 18px;
   /* gap: 10px; */
   /* width: 100%; */
   background-color: rgba(128, 128, 128, 0.103);
   border-radius: 20px;
   box-shadow: -3px 4px 8px rgba(128, 128, 128, 0.24);
   
  }
  .menu{
    display: flex;
    width: 60vw;
    justify-content: space-around;
  }
  .menu ul{
    display: flex;
    list-style: none;
    gap: 100px;
    align-items: center;
    justify-content:left;
    padding: 0;
    
    /* justify-content: space-between; */
  }
  .menu ul li a{
    text-decoration: none;
    color: white;
    transition: all 500ms;
  }
  .menu ul li a:hover{
    /* color: #1F51FF; */
    /* color: #00c4ffe0; */
    transition: all 500ms;
    font-size: 19px;
    text-shadow: 2px -4px 12px red;
  }
  .logo{
    /* opacity: 0%; */
    font-size: 18px;
    transition: all 500ms;
    width: 20vw;
    text-align: center;
    /* animation: rise 2s ease-in 1s 1 forwards alternate; */
  }
  .logo:hover{
    /* color: #1F51FF; */
    /* color: #00c4ffe0; */
    transition: all 500ms;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 2px -4px 12px red;
  }
  .btndiv{
    width: 20vw;
  }
  .btndiv a{
    text-decoration: none;
    color: #fff;
    font-size: large;
  }
  .footer{
    margin-top: 30px;
  }

  @keyframes rise{
    from{opacity: 0%;}
    to{opacity: 100%;}
  }