@font-face {
  font-family: nooriurdu;
  src: url("urdu.ttf");
}
.herosection{
  height: 70vh;
  background: url("images/contentbg.jpg");
  background-size: cover;
  display: flex;
}
.secHeroSection{
  height: 100vh;
  display: flex;
  padding: 80px;
  justify-content: space-around;
}
.thirdheroSection{
  height: 100vh;
  display: flex;
  background: url("images/policecon.jpg");
  background-size: cover;
  padding: 80px;
}
.leftHeroSec{
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  color: white;
}
.headp{
  font-size: 80px;
  line-height: 80px;
  font-weight: bolder;
}
#headpara{
  font-size: 20px;
  padding-top: 18px;
}
.btnrequest{
  margin-top: 50px;
  padding: 20px 30px;
  background-color: #D93A37;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  width: 200px;
}
.btnrequest:hover{
  background-color: gray;
  cursor: pointer;
}
.secherofirst{
  width: 10vw;
}
.secherosecond{
  display: flex;
  flex-direction: column;
  width: 60vw;
  gap: 12px;
}
.secherothird{
  width: 30vw;
}
p{
  text-align: justify;
}
.secherothirdimg{
  background: url("images/officer.png");
  background-size: cover;
  height: 100%;
}
.thirdherofirst{
  display: flex;
  gap: 10px;
}
.police {
background: url(images/car.png) top center no-repeat;
background-size: 100% 100%;
height: 400px;
width: 400px;
padding-left: 120px;
padding-top: 7.5px;
}
#slider{
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 50px;

}
.w3-content{
padding-right: 50px;
}
img{
border-radius: 12px;
}
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
background-color: whitesmoke;
color: aqua;
}
